charset="UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(58, 58, 98);
    overflow-x: hidden;
    overflow-y: hidden;

}

#name {
    position: absolute;
    background-color: white;
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid pink;
    padding: 5px;
    font-size: 1.5rem;
}

#time {
    background-color: white;
    opacity: 0;
    width: fit-content;
    border-radius: 5px;
    border: 3px solid pink;
    padding: 5px;
    font-size: 1.5rem;
}

svg path {
    cursor: pointer;
}